In [2]:
# Data frames.
import pandas as pd

# Plotting.
import seaborn as sns

# Stats.
import scipy.stats as ss

# Numerical arrays.
import numpy as np

# Collections.
import collections as co

# Specials.
import scipy.special as spec


# For plotting 
import plotly as py
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.express as px

In [3]:
Diet = pd.read_csv(r'C:\Users\User\Desktop\repo\Machine-learning-and-Statistics\Scipy Stats\Diet_R.csv')
Diet

    Person gender  Age  Height  pre.weight  Diet  weight6weeks  Weight loss
0       25          41     171          60     2          60.0          0.0
1       26          32     174         103     2         103.0          0.0
2        1      0   22     159          58     1          54.2          3.8
3        2      0   46     192          60     1          54.0          6.0
4        3      0   55     170          64     1          63.3          0.7
..     ...    ...  ...     ...         ...   ...           ...          ...
73      74      1   35     183          83     3          80.2          2.8
74      75      1   49     177          84     3          79.9          4.1
75      76      1   28     164          85     3          79.7          5.3
76      77      1   40     167          87     3          77.8          9.2
77      78      1   51     175          88     3          81.9          6.1

[78 rows x 8 columns]

In [36]:
Diet.dtypes

Person            int64
gender           object
Age               int64
Height            int64
pre.weight        int64
Diet              int64
weight6weeks    float64
Weight loss       int32
dtype: object

In [37]:
Diet.dtypes

Person            int64
gender           object
Age               int64
Height            int64
pre.weight        int64
Diet              int64
weight6weeks    float64
Weight loss       int32
dtype: object

In [7]:
df.

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Length: 78, dtype: bool

## Pivoting the dataframe
To facilitate the calculation for ANOVA, we need to pivot the dataframe:

In [8]:
Diet1= Diet[Diet["Diet"]==1] #extracting Diet group 1

In [9]:
Diet1

    Person gender  Age  Height  pre.weight  Diet  weight6weeks  Weight loss
2        1      0   22     159          58     1          54.2            3
3        2      0   46     192          60     1          54.0            6
4        3      0   55     170          64     1          63.3            0
5        4      0   33     171          64     1          61.1            2
6        5      0   50     170          65     1          62.2            2
7        6      0   50     201          66     1          64.0            2
8        7      0   37     174          67     1          65.0            2
9        8      0   28     176          69     1          60.5            8
10       9      0   28     165          70     1          68.1            1
11      10      0   45     165          70     1          66.9            3
12      11      0   60     173          72     1          70.5            1
13      12      0   48     156          72     1          69.0            3
14      13      0   41     163          72     1          68.4            3
15      14      0   37     167          82     1          81.1            0
45      15      1   39     168          71     1          71.6            0
46      16      1   31     158          72     1          70.9            1
47      17      1   40     173          74     1          69.5            4
48      18      1   50     160          78     1          73.9            4
49      19      1   43     162          80     1          71.0            9
50      20      1   25     165          80     1          77.6            2
51      21      1   52     177          83     1          79.1            3
52      22      1   42     166          85     1          81.5            3
53      23      1   39     166          87     1          81.9            5
54      24      1   40     190          88     1          84.5            3

In [10]:
Diet1

    Person gender  Age  Height  pre.weight  Diet  weight6weeks  Weight loss
2        1      0   22     159          58     1          54.2            3
3        2      0   46     192          60     1          54.0            6
4        3      0   55     170          64     1          63.3            0
5        4      0   33     171          64     1          61.1            2
6        5      0   50     170          65     1          62.2            2
7        6      0   50     201          66     1          64.0            2
8        7      0   37     174          67     1          65.0            2
9        8      0   28     176          69     1          60.5            8
10       9      0   28     165          70     1          68.1            1
11      10      0   45     165          70     1          66.9            3
12      11      0   60     173          72     1          70.5            1
13      12      0   48     156          72     1          69.0            3
14      13      0   41     163          72     1          68.4            3
15      14      0   37     167          82     1          81.1            0
45      15      1   39     168          71     1          71.6            0
46      16      1   31     158          72     1          70.9            1
47      17      1   40     173          74     1          69.5            4
48      18      1   50     160          78     1          73.9            4
49      19      1   43     162          80     1          71.0            9
50      20      1   25     165          80     1          77.6            2
51      21      1   52     177          83     1          79.1            3
52      22      1   42     166          85     1          81.5            3
53      23      1   39     166          87     1          81.9            5
54      24      1   40     190          88     1          84.5            3

In [11]:
print("\n".join(Diet1.sort_values.__doc__.split("\n")[1:2]))

Sort by the values along either axis.

In [12]:
Diet1=Diet1.sort_values(by="gender")

In [13]:
print("\n".join(Diet1.to_numpy.__doc__.split("\n")[1:2]))

        Convert the DataFrame to a NumPy array.

In [14]:
Diet1=Diet1["Weight loss"].to_numpy()

In [15]:
Diet1.shape

(24,)

Diet 2 is a second measure after some intervention on the same person via ID [6]

In [16]:
Diet2= Diet[Diet["Diet"]==2] #extracting Diet group 2

In [ ]:
Diet2=Diet2.sort_values(by="gender") # sort by ID

In [17]:
Diet2 = Diet2["Weight loss"].to_numpy() # to numpy array

In [14]:
Diet2.shape

(27,)

testing if there is a difference between drugA and drugB [6]

In [23]:
print("\n".join(ss.ttest_rel.__doc__.split("\n")[1:5]))

    Calculate the t-test on TWO RELATED samples of scores, a and b.

    This is a two-sided test for the null hypothesis that 2 related or
    repeated samples have identical average (expected) values.

In [24]:
def welch_ttest(x, y): 
    ## Welch-Satterthwaite Degrees of Freedom ##
    dof = (x.var()/x.size + y.var()/y.size)**2 / ((x.var()/x.size)**2 / (x.size-1) + (y.var()/y.size)**2 / (y.size-1))
   
    t, p = ss.ttest_ind(x,y,equal_var = False)

    print("\n"
          f"Welch's t-test= {t:.4f}"
          f"p-value = {p:.4f}"
          f"Welch-Satterthwaite Degrees of Freedom= {dof:.4f}")

welch_ttest(Diet1['Weight loss'], Diet2['Weight loss'])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [28]:
Diet.groupby("Diet")['Weight loss'].describe()

      count      mean       std  min   25%  50%   75%  max
Diet
1      24.0  2.916667  2.282574  0.0  1.75  3.0  3.25  9.0
2      27.0  2.740741  2.363059 -2.0  1.00  3.0  4.00  7.0
3      27.0  4.703704  2.508674  0.0  3.00  5.0  7.00  9.0

In [29]:
Diet1 = Diet[(Diet['Diet'] == '1')]
Diet2 = Diet[(Diet['Diet'] == '2')]

In [33]:
from scipy import stats

stats.shapiro(Diet1['Weight loss'])
stats.shapiro(Diet2['Weight loss'])

ValueError: Data must be at least length 3.

In [34]:
stats.ttest_ind(Diet1['Weight loss'], Diet2['Weight loss'], equal_var = False)

Ttest_indResult(statistic=nan, pvalue=nan)

## Step 1 â€” Calculating the means for all groups

In [ ]:
df.loc['Group Means'] = df.mean()
df

In [ ]:
overall_mean = df.iloc[-1].mean()
overall_mean

## Step 2 â€” Calculate the Sum of Squares

Sum of squares of all observation â€” SS_total
Sum of squares within â€” SS_within
Sum of squares between â€” SS_between
Sum of squares of all observation â€” SS_total
The sum of squares of all observation is calculated by deducting each observation from the overall mean, and then summing all the squares of the differences:

Image by author

In [ ]:
SS_total = (((df.iloc[:-1] - overall_mean)**2).sum()).sum()
SS_total   # 1002.6666666666667